<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Angular 2 Shine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <% if current_user.present? %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <a href="/" class="navbar-brand" id="logo">SHINE</a>
        <nav>
          <ul class="nav navbar-nav">
            <li>
              <a href="/customer">
                <i class="fa fa-database mr-2"></i> Customers
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
